body{
    background: linear-gradient(90deg,#00ffff,#0099ff);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
*{
    text-decoration: none;
}
section{
    scroll-margin-top: 50px;
}
#home{
    scroll-margin-top: 230px;
}
.navbar p{
    font-size: 27px;
    margin: 10px 10px 15px 7%;
}
.navbar{
    background: linear-gradient(90deg,#00ffff,#0099ff);
    display: flex;
    position: fixed;
    justify-content: space-between;
    top: 0;
    width: 100%;
    z-index: 5;
}
#navitems{
    margin-top: 1em;
}
#navitems a {
    color: black;
    display: inline;
    margin-right: 20px;
    font-weight: bold;
    padding: 10px 12px 10px 12px;
    position: relative;
}
#navitems a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1.3px;
    background-color: rgb(0, 0, 0);
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}
#navitems a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
    color: white;
}
.data{
    margin: 225px 0 0 110px;
    display: inline-block;
}
.data h2{
    color: #ff024a;
    position: relative;
    overflow: hidden;
}
.data h2::before{
    content: ".";
    position: absolute;
    width: 13%;
    background-color: #00ffff;
    transform: translateX(-100%);
    animation: reveal 1.5s;
}
@keyframes reveal {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
.data button{
    width: 140px;
    height: 40px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-size: 18px;
}
#hire{
    background-color: black;
    color: white;
    box-shadow: 5px 5px 10px rgb(78, 48, 48);
}
#cv button{
    box-shadow: 5px 5px 10px black;
}
.logo{
    margin: 18px 0 0 1px;
    font-size: 25px;
}
.logo ion-icon{
    margin-right: 15px;
    margin-left: 15px;
    color: black;
}
.logo ion-icon:hover,.logos ion-icon:hover{
    color: blue;
}
#myimg img,.circle2,.circle3{
    border-radius: 50%;
}
.circle2{
    width: 50px;
    height: 50px;
    background-color: rgb(53, 54, 79);
    margin-left: 730px;
    margin-top: 330px;
}
.circle3{
    width: 110px;
    height: 110px;
    background-color: rgb(53, 54, 79);
    margin-left: 1111px;
    margin-top: -360px;
}
#myimg img{
    width: 400px;
    margin-left: 770px;
    margin-top: -400px;
    box-shadow: 10px 10px 20px rgb(6, 6, 136),-8px -8px 20px rgb(255, 0, 247);
}
.skills h2{
    color: #6c7a88;
    font-size: 28px;
    margin-top: 100px;
    margin-left: 100px;
    padding-top: 30px;
}
hr{
    width: 75%;
    margin-top: -20px;
    margin-left: 220px;
}
.skills{
    background-color: white;
    height: 660px;
}
.skills p{
    margin-left: 100px;
}
.skill{
    margin-left: 11%;
    margin-top: 4%;
    text-align: start;
}
.skill-name{
    font-size: 1.2em;
    font-weight: 600;
    margin: 20px 0 5px 0;
}
.skill-name ion-icon{
    vertical-align:top;
    margin-right: 10px;
}
.skill-bar{
    width: 30%;
    height: 7px;
    background-color: #bcbcbc;
    border-radius: 5px;
}
.skill-progress{
    height: 100%;
    background-color: #28a224;
    border-radius: 5px;
}
.about-me{
    width: 37%;
    margin-left: 45%;
    margin-top: -480px;
}
.about-me h2{
    color: #2976ce;
    font-size: 2.3em;
}
.about-me p{ 
    font-size: 1.14em;
    font-family: Verdana;
    word-spacing: 5px;
}
.projects h2{
    margin-left: 110px;
    font-size: 2.2em;
    color: #2e3339;
}
.projects{
    display: flex;
    text-align: center;
    margin-bottom: 140px;
}
.projects img{
    border-radius: 10px;
    display: block;
}
.projects h3{
    font-size: 1.6em;
}
.ytclone h3{
    margin-top: 160px;
}
.ytclone button{
    width: 43%;
    margin: 10px;
    height: 40px;
    font-size: 1.1em;
    display: inline-block;
    border-radius: 7px;
    background-color: #202033;
    color: white;
    border: 1px solid black;
    cursor: pointer;
}
.ytclone button:hover{
    background-color: #31699e;
    font-size: larger;
}
.weather button{
    margin: 10px;
    margin-bottom: 35px;
    width: 43%;
    height: 40px;
    display: inline-block;
    font-size: large;
    border-radius: 7px;
    background-color: #202033;
    color: white;
    border: 1px solid black;
    cursor: pointer;
}
.weather button:hover{
    background-color: #31699e;
    font-size: larger;
    transition: .3s;
}
.weather{
    margin: 130px 0 0 220px;
}
footer{
    text-align: center;
    background-color: black;
    color: white;
    font-size: 14px;
    padding: 7px 0 5px 0;
}
footer p{
    display: inline;
    padding-left: 10px;
}
.logos{
    margin: 18px 0 0 1px;
    font-size: 23px;
    position: relative;
    z-index: 1;
}
.logos ion-icon{
    margin:0 15px 0 15px;
    z-index: 2;
    color: white;
}
.details{
    display: grid;
    width: 25%;
}
.details input{
    height: 38px;
    border-radius: 7px;
    text-indent: 15px;
    font-size: 1.1em;
    border: 1px solid black;
    box-shadow: 7px 7px 15px black;
}
label{
    font-size: 1.2em;
    text-align: left;
    margin-top: 22px; 
}
.contact h1{
    color: #1d0404;
    padding: 20px;
}
textarea{
    box-shadow: 7px 7px 15px black;
    border-radius: 8px;
    border: 1px solid black;
    text-indent: 3px;
    font-size: 1.1em;
    font-family: Arial, Helvetica, sans-serif;
}
.details button{
    margin-top: 20px;
    width: 380px;
    height: 40px;
    font-size: large;
    border-radius: 6px;
    background-color: #254d69;
    color: white;
    margin-bottom: 85px;
    border: 1px solid black;
    cursor: pointer;
}
.contact{
    background-color: rgb(130, 147, 169);
}
.details button:hover{
    background-color: black;
    transition: .5s;
}
#cv,#hire {
    position: relative;
    padding: 10px 22px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    transition: all .5s ease;
  }
  #cv:active,#hire:active {
    transform: scale(0.96);
  }
  #cv:before,#cv:after ,
  #hire:before,#hire:after{
    position: absolute;
    content: "";
    width: 150%;
    left: 50%;
    height: 100%;
    transform: translateX(-50%);
    z-index: -1000;
    background-repeat: no-repeat;
  }
  #cv:hover:before ,#hire:hover:before{
    top: -70%;
    background-image: radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, transparent 20%, #7d2ae8 20%, transparent 30%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, transparent 10%, #7d2ae8 15%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
      10% 10%, 18% 18%;
    background-position: 50% 120%;
    animation: greentopBubbles 0.6s ease;
  }
  @keyframes greentopBubbles {
    0% {
      background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
        40% 90%, 55% 90%, 70% 90%;
    }
    50% {
      background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
        50% 50%, 65% 20%, 90% 30%;
    }
    100% {
      background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
        50% 40%, 65% 10%, 90% 20%;
      background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
  }
  #cv:hover::after,#hire:hover::after {
    bottom: -70%;
    background-image: radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, transparent 10%, #7d2ae8 15%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
    background-position: 50% 0%;
    animation: greenbottomBubbles 0.6s ease;
  }
  @keyframes greenbottomBubbles {
    0% {
      background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
        70% -10%, 70% 0%;
    }
  
    50% {
      background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
        105% 0%;
    }
  
    100% {
      background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
        110% 10%;
      background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
  }